# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs

/*.pidb
/*.suo

/*.user
/*.unityproj
/*.booproj
*.csproj
*.meta
SAS/Assembly-CSharp-Editor.csproj
SAS/Assembly-CSharp.csproj
SAS/SAS.sln 
SAS/Assembly-CSharp-Editor-vs.csproj
SAS/Assembly-CSharp-Editor.csproj
